<!DOCTYPE html>
<html>
  <head>
    <title>PhotoEz</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/mystyle.css'/>
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <script src="/javascripts/jquery-3.2.0.min.js"></script>
    <script src="/javascripts/tether.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/validations.js"></script>
    <script src="/javascripts/tabbing.js"></script>
    <script src="/javascripts/album.js"></script>
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/posts.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
  </head>
  <body>
  <% if (login) { %>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">PhotoEz</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/dashboard"><span class="nav-link">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
              Dashboard
            </span></a>
          </li>
          <li>
            <a href="/posts/?page=1"><span class="nav-link">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              View Gallery
            </span></a>
          </li>
          <% if (uploadImage){ %>
          <li>
            <a data-toggle="modal" data-target="#image-upload-modal"><span class="nav-link">
            <i class="fa fa-upload" aria-hidden="true"></i>
              Upload Image
            </span></a>
          </li>
          <% } %>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <span class="nav-link">Welcome, <%= user.firstName %></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Sign out</a>
          </li>
        </ul>
      </div>
    </nav>
  <% } %>
