<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoEz</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/javascripts/validations.js"></script>
    <script src="/javascripts/tabbing.js"></script>
    <script src="/javascripts/album.js"></script>
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/posts.js"></script>
    <script src="/javascripts/jquery.jscroll.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap-social.css">
  </head>
  <body>
  <% if (login) { %>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">PhotoEz</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/dashboard"><span class="nav-link">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
              Dashboard
            </span></a>
          </li>
          <li>
            <a href="/posts/?page=1"><span class="nav-link">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              Explore
            </span></a>
          </li>
          <% if (uploadImage){ %>
          <li>
            <a data-toggle="modal" data-target="#image-upload-modal"><span class="nav-link">
            <i class="fa fa-upload" aria-hidden="true"></i>
              Upload Image
            </span></a>
          </li>
          <% } %>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/users/<%= user.id %>">Welcome, &nbsp;<%= user.firstName %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Sign out</a>
          </li>
        </ul>
      </div>
    </nav>
  <% } %>
