<%- include('../partials/header.ejs') %>
<!-- <div class="photo-frame container">
  <div id="main" class="container"> -->
  <div class="row">
    <div class="col-md-4 feature">
    <div><a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i><span>View Albums</span></a></div>
    </div>
    <div class="col-md-4 feature">
      <div><a href="#"><i class="fa fa-star" aria-hidden="true"></i><span>Most Popular</span></a></div>
    </div>
    <div class="col-md-4 feature">
      <div><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i><span>Follow</span></a></div>
    </div>
    <div class="col-md-4 feature">
      <div><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>Like</span></a></div>
    </div>
    <div class="col-md-4 feature">
      <div><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i><span>Profile</span></a></div>
    </div>
    <div class="col-md-4 feature">
      <div><a href="/users/logout"><i class="fa fa-sign-out" aria-hidden="true"></i><span>Sign out</span></a></div>
    </div>
  </div>
<!-- </div>
</div> -->
