
$btn-primary-bg:orange;
$body-bg: #565656;
$link-color: #4db0c9;
$navbar-light-color: white;
// $navbar-light-hover-color:          rgba($black,.7) !default;
// $navbar-light-active-color:         rgba($black,.9) !default;
// $navbar-light-disabled-color:       rgba($black,.3) !default;
// $navbar-light-toggler-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
// $navbar-light-toggler-border:       rgba($black,.1) !default;

@import "node_modules/bootstrap/scss/bootstrap.scss"
