<form method="post" action="/users/sign-in">
  <div class="row">
    <div class="col-12">
      <div class="form-group ">
        <input id="username" name="username" type="text" class="form-control" placeholder="Username" required>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
      </div>
    </div>
    <% if (error) { %>
      <div class="col-12">
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      </div>
      <% } %>
        <div class="col-12">
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign In</button>
          </div>
        </div>
  </div>
</form>
<div>
  <a href="/users/auth/facebook">
    <button class="btn btn-social btn-facebook">
    <div class="fa fa-facebook"></div><div>Login with Facebook</div>
    </button>
  </a>
</div>
