$btn-primary-bg:orange;
$body-bg: #565656;

$light-gray: #939393;
$medium-gray: #4E4E4E;
$glow-color: white;

$link-color: grey;
$link-decoration: none;


$pagination-hover-color: $medium-gray;
$pagination-active-bg: $medium-gray;
$pagination-active-border: $light-gray;
$pagination-color: $light-gray;
$pagination-border-color: $light-gray;
$pagination-bg: $medium-gray;

$navbar-light-color: $light-gray;
$navbar-light-hover-color: white;
$navbar-light-active-color: white;

$heart: red;
$feature-btn: #292B2C;

$album-folder-color: white;
