$btn-primary-bg:orange;
$body-bg: #12130B;

$light-gray: #939393;
$medium-gray: #4E4E4E;
$glow-color: white;

$link-color: grey;
$link-decoration: none;


$v-1: #EDE0D0;
$v-2: #766645;
$v-3: #4A483B;
$v-4: #857F71;
$v-5: #12130B;

$pagination-hover-color: $medium-gray;
$pagination-active-bg: $medium-gray;
$pagination-active-border: $light-gray;
$pagination-color: $light-gray;
$pagination-border-color: $light-gray;
$pagination-bg: $medium-gray;

$navbar-light-color: $light-gray;
$navbar-light-hover-color: white;
$navbar-light-active-color: white;

$heart: red;
$feature-btn: #292B2C;

$album-folder-color: white;
